#header, #sidebar, #footer, #navbg, .breadcrumb, .i_print, .i_pdf {
  display: none !important;
}
body, #main, #content, .column, #articletext, #footer {
  float: none !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}
.options-box { display:block !important;  }
.table .item_img { margin-right:20px; }
 